* {
    font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}
.allblack {
    background-color:#0D1117;
    
    color:#fff;
    
    border-bottom: 8px solid #fff;
}
.allgreen {
    background-color: #003638;
    color:#fff;
    border-left: 5px solid #fff;
    border-bottom: 5px solid #fff;
    padding:5px;
}
.allsun {
    background-color:#FCDE4C;
    color:#010409;
    border-left: 5px solid #fff;
    border-bottom: 5px solid #fff;
    padding:5px;
}
.allbrown {
    background-color: #362315;
    color:#fff;
    border-left: 5px solid #fff;
    border-bottom: 5px solid #fff;
    padding:5px;
}
.allbrown2 {
    background-color: #362315;
    color:#fff;
    border-bottom: 5px solid #fff;
    padding:5px;
}
.fundo {
    background-color:#010409;
}

.objectImage {
    width: 100%;
    max-height: 1030px;
    object-fit: cover;
    object-position: center;
}
.objectImage2 {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.objectImage3 {
    width: 100%;
    max-height: 900px;
    object-fit: cover;
    object-position: center;
}

.btnwhite {
    color:#fff;
}

.menu-none {
    margin-top: -50px;
}

.iconHover:hover {
    color:rgb(68, 64, 64);
    transition:0.6s;
}

.allsun input {
    background-color:#f5e9af ;
    border: none;
    
}
.allsun textarea {
    background-color:#f5e9af ;
    border: none;
    
}

.allsun input:focus{
    background-color:#f5e9af ;
    border: none;
    
}
.allsun textarea:focus {
    background-color:#f5e9af ;
    border: none;
    
}
.navbar {
    font-size: 22px;
    padding:30px;
}

.gradiente {
    background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
}